
h1{
    font-weight: bold;
    background-color: #1E408A;
color: white;
margin: 0px;
padding: 5px;

}
h4{
    color: blue;
    font-family: 'Zilla Slab', serif;
  
}
.importante{
    font-weight: bold;
    
}
#datos{
    padding: 5px;
   background-color:  #9BB9FA;
   margin: 0px;
   
}
#cuerpo{

    margin: 0px;
    background-color:whitesmoke;
    padding: 5px;
}
.enlace:hover{
    background-color: teal;
    color: white;
    
}
body{
 margin:0px;
    background: linear-gradient(to left, blue, white);
    
}
.imagen{
    border-radius: 8px;
}