
button{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.caja1{
background-color: red;
}
.caja2{
    background-color:blue;
    
    }

.caja3{
        background-color:green;
       
        }
.caja1Activo{
    background-color: skyblue;
height: 100px;
width: 100px;
margin-right: 20px;
}
.caja2Activo{
    background-color: black;
height: 100px;
width: 100px;
margin-right: 20px;
}
.caja3Activo{
    background-color: orange;
height: 100px;
width: 100px;
margin-right: 20px;
}